<html>

<head>
    <link rel="stylesheet" href="/static/main.css">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
    <div class="tables-navbar">

        <!-- here names of data tables -->

    </div>

    <div class="raw-sql-bar">
        <!-- CRUD navbar -->
        <input type="text" placeholder="enter your sql request"> </input>
        <button>CREATE</button>
        <button>READ</button>
        <button>UPDATE</button>
        <button>DELETE</button>

    </div>

    <div class="data-table-wrapper">

        <!-- table of data from table in database -->
        
        

    </div>

</body>

</html>