<!DOCTYPE HTML>

<html>

<head>
    <title>DBAS</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="static/main.css">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
    <script src="static/main.js">
    </script>
</head>

<body onload="GetDataForTable();AddTablesToNavBar();">
    <div class="tables-navbar">

        <!-- here names of data tables -->

    </div>

    <div class="raw-sql-bar">
        <!-- CRUD navbar -->
        <input type="text" placeholder="enter your sql request" class="RawSQLInput" onfocus="IsInputActive = true" onblur="IsInputActive = false"> </input>
        <button onclick="NewWindowCUD('CREATE');">CREATE</button>
        <button onclick="ReadTable(CurrentTable);">READ</button>
        <button onclick="NewWindowCUD('UPDATE');">UPDATE</button>
        <button onclick="NewWindowCUD('DELETE');">DELETE</button>

    </div>

    <table class="DataTable">


    </table>


</body>

</html>